

@media screen and (min-width:768px) {
    
.author {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#DAF5FF ;
  }
  
.about-author {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 150px;
    width: 900px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-author-avatar{
   
    padding-left: 15px;
    float: left;
    width: 10%;
}
.about-author-info{
    display: flex;
    text-align: center;
    padding-left: 15px;
    float: left;
    width: 30%;
}

.about-author-info .icons{
    justify-content: center;
    display: flex;
    margin-left: -70px;
    padding-bottom: 50px;
    margin-top: 10px;
}


.description{
    // padding-bottom: 30px;
    width: 60%;
    float: right;
}

.avatar {
    display: flex;
    border-radius: 50%;
 }
 
.more-info {
    text-decoration: none;
    position: absolute;
    padding-top: 5px;
}


.nickname {
    display: flex;
    padding-left: 20px;
    padding-top: 30px;
}


//* Logos
.fab.fa-facebook {
    position: absolute;
    display: flex;
    padding-top: 70px;
    
    }


.fab.fa-instagram {
    
    
    padding-top: 70px;
   padding-left: 22px;

}
.fab.fa-pinterest {
    
    padding-left: 2px;
    padding-top: 70px;

}
}

@media screen and (max-width:480px){
    .about-author {
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        height: auto;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
      
      
        .description{
        width: 90%;
        margin: 0 auto;
        font-size: 19px;
        margin-right: 15px;
    }
    .author{
        margin-bottom: 30px;
    }
      
}

@media screen and (max-width:768px) {
    .about-author{
        width: 90%;
        margin: 0 auto;
       
    }
    .nickname {
        display: flex;
       
    }
    .about-author-avatar{
        margin-top: 15px;
    }
    
}

