
 
 @media screen and (min-width:768px) {
  .bussines_profile .right-info{
    margin-top: 15px;
  }
  
  .profile {
    padding: 20px;
    background-color: #f8fafc;
  }
  
  .bussines_profile {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.2);
    border-radius: 20px;
    // width: 76%;
    margin: 0 auto;
  }
  
  .bussines_profile h1 {
    font-size: 30px;
    margin: 0;
  }
  #myBtnn {
    text-align: left;
    cursor: pointer;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #myBtnn {
    font-size: 19px;
  }
  
  .opening-closing-hours {
    display: flex;
  }
  .clock-hour {
    align-items: center;
    display: flex;
    padding-right: 9px;
  }
  .opening-times {
    text-align: initial;
  
    padding: 0px 37px;
    font-size: large;
  }
  .opening-time-h3 {
    margin-top: 0;
  
    text-align: center;
  }
  .businesses-day--hours {
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
  }
  .bussines-emri {
    display: flex;
    align-items: center;
    justify-content: center;
    //   margin-bottom: 10px;
  }
  
  .bussines-emri h3 {
    margin-right: 5px;
  }
  
  .bussines_profile .foto {
    width: 300px;
    height: 285px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    // box-shadow: 0px 0px 8px rgba(15, 23, 42, 0.2);
    margin-top: 5px;
    margin-right: 15px;
  }
  
  .bussines_profile .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .bussines-content {
    width: 67%;
    margin: 0 auto;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.1);
    border-radius: 20px;
  }
  .content-profile {
    width: 95%;
    margin: 0 auto;
  }
  .bussines_profile .emri_reviews {
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
    justify-content: space-between;
    padding-top: 3px;
  }
  
  .bussines-reviews p {
    display: inline;
  }
  
  .fa-star {
    //     color: gold;
    font-size: 18px;
  }
  
  .text-bussines-profile {
    text-align: justify;
    // width: 90%;
    // margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
    line-height: 24px;
  }
  
  .text-bussines-profile {
    margin-bottom: 10px;
    margin-top: -13px;
  }
  
  .bussines_profile .komente {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    text-align: left;
  }
  
  .contact-bussines {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 90%;
    // margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  
  .left-info,
  .right-info {
    display: flex;
    align-items: center;
  }
  .mapouter {
    position:relative;
    text-align:right;
    height:300px;
    width:100%;
    margin-bottom: 60px;
  }
  
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;width:100%;
    border-radius:10px;
    margin-top:30px;
  }
  
  .location-unknow{
    margin-top: 20px;
    font-size: 20px;
  }
 }




  @media screen and (max-width: 768px) {
    .bussines_profile .right-info{
      margin-top: 15px;
    }
   
    .bussines-emri h3 {
      font-size: 24px;
    }
  
    .bussines-emri h3,
    .text-bussines-profile {
      font-size: 17px;
      line-height: 28px;
    }
    
    .modal-content {
      width: 90%;
    }
    
    .bussines_profile .foto {
      width: 160px;
      height: 160px;
      margin-bottom: 10px;
    }
    
    .opening-times {
      padding: 0px;
      font-size: medium;
    }
    .contact-bussines{
      display: flex;
      flex-direction: column;
     
  
        font-size: 18px;
    }
    .gmap_canvas iframe {
      height: 200px;
    }
  }
  
  /* Stili për pajisjet mobile */
  @media screen and (max-width: 480px) {
    .button-bussinesprofile {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;
      margin-left: 20px;
    }
    .bussines_profile .right-info{
      margin-top: 15px;
    }
    
    .bussines_profile .foto{
      border-radius: 20px;
      height: 120px;
    }
    .bussines_profile .foto img{
      border-radius: 20px;
    }
    .gmap_canvas iframe {
      height: 150px;
    }
    .bussines_profile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.2);
      border-radius: 20px;
      margin: 0 auto;
    }
  
  
    #myBtnn {
      text-align: left;
      cursor: pointer;
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
    }
    
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    #myBtnn {
      font-size: 19px;
    }
    
    .opening-closing-hours {
      display: flex;
      justify-content:center;
      padding-top: 10px;

    }
    .clock-hour {
      align-items: center;
      display: flex;
      padding-right: 9px;
    }
    .opening-times {
      text-align: initial;
    
      padding: 0px 37px;
      font-size: large;
    }
    .opening-time-h3 {
      margin-top: 0;
    
      text-align: center;
    }
    .businesses-day--hours {
      display: flex;
      justify-content: space-between;
      padding: 3px 0px;
    }
    .bussines-content {
      width: 100%;
      margin: 0 auto;
      // box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.1);
      border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 15px
    }
    .text-bussines-profile .aboutus{
      text-align: justify;
    font-size: 18px;
    }
     
    .bussines-reviews p {
      font-size: 19px;
    }
    .text-bussines-profile{
      text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    color: black;
    font-size: 17px;
    line-height: 24px;
    }
    .contact-bussines{
      text-align: justify;
      font-size: 18px;
    }

    .feedback-section{
      width: 90%;
      margin: 0 auto;
    }
    .rating-forma{
      width: 95%;
    }
  }

//profile dizajni



.comment-form {
  // align-items: center;
  // display: flex;
  text-align: left;
  margin-left: 25px;
  align-items: center;
  margin-top: 10px;
}
.bussines-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.textarea-bussines {
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.3);
  border-radius: 10px;
  padding: 10px;
}
.btn-bussines {
  padding: 5px 16px;
  gap: 8px;
  margin-top: 20px;
}
.komente {
  margin-top: 20px;
}

.comment-content {
  background-color: #f8f8f8;
  padding: 19px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.comment-meta {
  position: absolute;
  top: 12px;
  right: 10px;
  // background-color: #f8f8f8;
  padding: 5px 10px;
  border-radius: 5px;
}

.comment-content span {
  margin-bottom: 5px;
}

.comment-content h4 {
  font-size: 18px;
  margin: 10px 0;
}

.comment-content span.comment-author {
  font-weight: bold;
}

.comment-text p {
  margin-left: 5px;
  margin-top: 5px;
}

// ============================== Komentet ==================

.comment-respond {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.comment-form .logged-in-as {
  display: none;
}

#reply-title {
  margin-left: 25px;
}

#comment {
  border-radius: 10px;
  background-color: #e8e8e8;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-submit #submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form-submit #submit:hover {
  background-color: #45a049;
}



 //Forma per Vlersim 
 .rating-forma {
//  width: 700px;
 
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px !important;
}

.star-rating {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 30px;
  margin-bottom: 15px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
  justify-content: end
}

.star-rate {
  display: flex;
  gap: 5px;
}

.star-clicked {
  color: gold;
}
.star {
  cursor: pointer;
}
.name-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#komenti-id{
  font-size: 20px;
}
.star:hover {
  color: rgba(255, 217, 0, 0.49);
}
#user_rating_input {
  display: none;
}

#comment {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

.button-bussinesprofile {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}


.feedback{
  // width: 700px;
  margin: 0 auto;
  background-color: #f9f9f9; 
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 10px;
}

#submit{
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}


.feedback p {
  color: black; 
}
.comment-divider{
  height: 5px;
}

///////////////////////////////////////////////////////

.feedback-section {
  margin-top: 20px;
}

.feedback {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 10px;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

// .feed-name {
  
//   align-items: center;
// }

.feedback-name {
 
  
  margin-right: 10px;
}

.feedback-date {
  margin-top: -10px;
  font-size: 12px;
  color: #777 !important;
}

.rating-value {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.fa-solid.fa-star {
  font-size: 18px;
  margin-right: 2px;
}

.feedback-comment {
  font-weight: bold;
  margin-top: 10px;
}


//////////////////////

.location-link{
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
 
}

.hidden {
  display: none;
}