
.relationship-section{
    background-color: #EFF6FF;
    height: 96px;
    align-items: center;
    margin: auto 0px;
    margin-top: 50px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
}


.relationship-img img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    
}
.relationship-info{
    display: flex;
    width: 320px;
    align-items: center;
}
.relationship-info img{
    border-radius: 50%;
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.relationship-info h4{
    margin-left: 20px;
font-weight: 700;
font-size: 22px;
line-height: 21px;
color: #0F172A;
}
.relation-par{
    width: 452px;
    background-color: #F8FAFC;
    border: 2px dashed #E23333;
border-radius: 16px;
height: 72px;
align-items: center;
text-align: center;
display: flex;
justify-content: center;
margin-right: 15px;
}
.relationship-paragraf{
  
    align-items: center;
font-weight: 700;
font-size: 20px;
// line-height: 32px;

text-align: center;
color: #515151;

}
.relationship-btn{
    background: #54D577;
border-radius: 16px;
align-items: center;
padding: 14px 20px;
gap: 8px;
border: none;
font-weight: 600;
height: 52px;
width: 167px;

}

.relation-href{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0F172A;
}

.relationship-items{
    // width: 1000px;
    // margin: 0 auto;
    display: flex;
    background-color: #EFF6FF;
    // margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}




.content-module{
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 10px 0px;
}
.content-module div{
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 13px;
    color: var(--kit-colors-slate-900, #0F172A);
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px

}
.content-section{
background-color:#F8FAFC;
}

$breakpoints: (
  "phone": 375px,
  "tablet": 768px,
  "desktop":1366px,
  "LGDesktop": 1920px
);

/* 
====================
  Old Phone View
====================
*/
@media screen and (max-width: map-get($breakpoints, "phone")) {
    .relationship-btn{
        padding: 0px 20px;
        margin-right: 5px;
        margin-left:0;
    }
    .relationship-info h4{
        margin-right: 2px;
        margin-left:0px;
        padding: 0;
        font-size: 18px;
        margin: 0;
        
    }
    .relationship-info {
        margin-left:0px;
        flex-direction: column;
        margin: 0; 
    }
    .relationship-info img{
        width: 50px;
        height: 50px;
    }
    .relationship-items{
        margin-left: 0px;
    }
    .menu li, a {
        border-bottom: 0px solid white;
    }
};


/* 
====================
  View between 375 to 425 px
====================
*/
@media screen and (min-width: map-get($breakpoints, "phone")) and (max-width: 425px){
    .relationship-btn{
        padding: 0px 20px;
        margin-right: 5px;
        margin-left:0;
    }
    .relationship-info h4{
        margin-right: 2px;
        margin-left:7px;
        padding: 0;
        font-size: 18px;
        margin: 0;
        
    }
    .relationship-info {
        margin-left:0px;
        flex-direction: column;
        margin: 0; 
    }
    .relationship-info img{
        width: 50px;
        height: 50px;
    }
    .relationship-items{
        margin-left: 0px;
    }
    .menu li, a {
        border-bottom: 0px solid white;
    }
};
/* 
====================
  Phone
====================
*/
@media screen and (min-width: map-get($breakpoints, "phone")) and (max-width: map-get($breakpoints, "tablet")) {

    .relationship-btn{
        padding: 0px 20px;
        margin-right: 10px;
        border-bottom: 0px solid white;
        gap: 0;
    }
    .relationship-info h4{
        margin-left: 7px;
        margin-right: 10px;
    }
        .relationship-items{
        margin-left: 15px;
    }
    .menu li, a {
        border-bottom: 0px solid white;
    }
};

/* 
====================
  Tablet
====================
*/
@media screen and (min-width: map-get($breakpoints, "tablet")) and (max-width: map-get($breakpoints, "desktop")) {

    .relationship-items{
        margin-left: 15px;
    }
    .relationship-btn{
        padding: 0px 20px;
        margin-right: 10px;
    }
}

/* 
====================
  Desktop
====================
*/
@media screen and (min-width: map-get($breakpoints, "desktop")) and (max-width: map-get($breakpoints, "LGDesktop")) {
    .relationship-btn{
        padding: 14px 20px;
    }
};