

@media screen and (min-width: 769px) {

  .faq__questions__items__item img{
max-width: 50px;
display: flex;
  }
  .faq-module{
    background-color: #F8FAFC;
    position: relative;
    height: 300px;
  }
  .faq{
    background-color: #F8FAFC;
    position: relative;
  padding-bottom: 20px;
  //   height: 380px;
  }
  
  .faq_section{
    // width: 800px;
    // height: 500px;
    margin: 0 auto;
  //     background: #FDFEFD;
  //   box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.09);
    border-radius: 16px;
    // padding-left: 20px;
    position: relative;
  }
  .faq_section h1{
    padding: 10px;
    padding-top: 15px;
    margin: 0px;
  }
  .faq__questions__items__item{
    background: #FDFEFD;
   color: #6C6C6C;;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
    border-radius: 16px;
  padding: 2px;
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 700;
  line-height: 15px;
  cursor: pointer
  
  }

  .answer{
    background: #0F172A14;
    color: #6C6C6C !important;
     box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
     border-radius: 16px;
  padding: 1px;
  font-size: 18px !important;
  margin-top: 13px;
  color: var(--kit-colors-slate-900, #0F172A);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
 margin-bottom: 10px;
  }
  
  .answer {
    display: none;
  }
  
  .chevron{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 25px;
  }
  .faq__questions__items__item p{
    margin-left: 10px;
  }
  
}





  

@media screen and (max-width:  768px) {
  .faq__questions__items__item img{
    max-width: 50px;
    display: flex;
      }
  .faq-module{
    background-color: #F8FAFC;
    position: relative;
    height: 300px;
  }
  .faq{
    background-color: #F8FAFC;
    position: relative;
  padding-bottom: 20px;

  }
  
  .faq_section{
  
    margin: 0 auto;
 
    border-radius: 16px;
  
    position: relative;
  }
  .faq_section h1{
    padding: 10px;
    padding-top: 15px;
    margin: 0px;
   
  }
  .faq__questions__items__item{
    background: #FDFEFD;
   color: #6C6C6C;;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
    border-radius: 16px;
  padding: 2px;
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 700;
  line-height: 15px;
  cursor: pointer;
  width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
  
  }

  .answer{
    background: #0F172A14;
    color: #6C6C6C !important;
     box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
     border-radius: 16px;
  padding: 1px;
  font-size: 18px !important;
  margin-top: 13px;
  color: var(--kit-colors-slate-900, #0F172A);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
 margin-bottom: 10px;
  }
  .answer {
    display: none;
  }
  
  .chevron{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 20px;
  }
  .faq__questions__items__item p{
    margin-left: 10px;
  }
  
}


@media screen  and (max-width:480px) {
  .faq__questions__items__item img{
    max-width: 50px;
    display: flex;
      }

  .faq_section h1{
    padding: 10px;
    padding-top: 15px;
    font-size: 23px;
    margin: 0px;
   
  }
  .faq__questions__items__item p{
    margin-left: 10px;
  }
  
  
}



/// faq 
/// 