.users-container {
    margin: 0 auto;
    max-width: 1700px;
    // border: 10px solid magenta;
    height: 670px;
    margin-bottom: -10%;

    .table {
        background-color: white;
        width: 100%;
        border: 2px solid gray;
        
        .actions-column {
            display: flex;
            justify-content: space-around;
            font-size: 1.3rem;
        }

        .table-row:hover {
            background-color: #e0e0e0;
        }
    }

    .search-register-bar{
        display: flex;
        justify-content: space-between;

        .search-box {
            max-width: 400px;
            width: 25%;
            margin: 10px 0;
            display: flex;
            background-color: white;
            border-radius: 20px;
            border: 1px solid gray;

            &:hover {
                border-color: #3FBAE4;
                transition: background-color .5s ease-out 20ms;
            }

            &i {
                color: #a0a5b1;
                position: absolute;
                font-size: 19px;
                top: 8px;
                left: 10px;
            }

            .icon {
                padding: 10px;
                min-width: 40px;
            }

            .search-form {
                height: 40px;
                border-radius: 20px;
                border:none;
                outline: none;
                // background-color: black;
                width: 90%;
            }
        }

        .register {
            justify-content: flex-end;
            margin: auto 0;

            .register-btn {
                border-radius: 5px;             
                max-width: 1000px;
                width: 100%;
                padding: 0 20px;
                height: 40px;
                background-color: #bbd60b;
                border: 1px solid gray;
                font-size: 1.2rem;
                font-weight: bold;
                transition: background-color .5s ease-out 20ms;

                &:hover {
                    background-color: #94aa09;
                    transition: background-color .5s ease-out 20ms;
                }
            }
            
        }

    }

    .pagination
    {
        justify-content: flex-end;
        border-radius: 20px;

        li {
            margin: 0;
        }
    }

}

