@charset "UTF-8";
.faq-module {
  background-color: #F8FAFC;
  position: relative;
  height: 300px;
}

.faq {
  background-color: #F8FAFC;
  position: relative;
  padding-bottom: 20px;
}

.faq_section {
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
}

.faq_section h1 {
  padding: 10px;
  padding-top: 15px;
}

.faq__questions__items__item {
  background: #FDFEFD;
  color: #6C6C6C;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 700;
  line-height: 27px;
  cursor: pointer;
}

.answer {
  background: rgba(15, 23, 42, 0.0784313725);
  color: #6C6C6C;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
  border-radius: 16px;
  padding: 16px;
  font-size: 18px;
  margin-top: 13px;
  color: var(--kit-colors-slate-900, #0F172A);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.answer {
  display: none;
}

.chevron {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
}

.header {
  background-color: #FDFEFD;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  text-align: center;
  justify-content: center;
}

.img img {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.left {
  left: 0;
}

.right {
  width: 25px;
  top: 15px;
  right: 0;
}

.menu-main-navigation-container .menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  text-align: center;
  align-items: center;
  position: relative;
  grid-gap: 10px;
}

.menu li, .menu a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: black;
  text-align: center;
}

footer {
  background-color: #FDFEFD;
  height: 450px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.left-footer {
  width: 48%;
}

.right-footer {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 70%;
  line-height: 1.5;
  letter-spacing: 1px;
  color: black;
  font-size: 17px;
  line-height: 24px;
}

.text h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
}

.social span {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.logo a {
  padding-left: 10px;
  color: black;
}

.logo {
  margin-top: 10px;
}

#menu-footer-navigation li,
#menu-third-nav li {
  padding-bottom: 25px;
  text-align: left;
}

.right-footer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
  color: black;
}

footer .footer-paragraf {
  background-color: #F1F5F9;
  text-align: center;
  padding: 15px;
}

#menu-footer-navigation,
#menu-third-nav {
  padding: 0;
}

#myBtn {
  display: flex;
  position: fixed;
  bottom: 425px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #8CC0DE;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

.profile {
  padding: 20px;
  background-color: #f8fafc;
}

.bussines_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.2);
  border-radius: 20px;
  margin: 0 auto;
}

.bussines_profile h1 {
  font-size: 30px;
  margin: 0;
}

#myBtnn {
  text-align: left;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtnn {
  font-size: 19px;
}

.opening-closing-hours {
  display: flex;
}

.clock-hour {
  align-items: center;
  display: flex;
  padding-right: 9px;
}

.opening-times {
  text-align: initial;
  padding: 0px 37px;
  font-size: large;
}

.opening-time-h3 {
  margin-top: 0;
  text-align: center;
}

.businesses-day--hours {
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}

.bussines-emri {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bussines-emri h3 {
  margin-right: 5px;
}

.bussines_profile .foto {
  width: 300px;
  height: 285px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 15px;
}

.bussines_profile .foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bussines-content {
  width: 67%;
  margin: 0 auto;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.1);
  border-radius: 20px;
}

.content-profile {
  width: 95%;
  margin: 0 auto;
}

.bussines_profile .emri_reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
}

.bussines-reviews p {
  display: inline;
}

.fa-star {
  font-size: 18px;
}

.text-bussines-profile {
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
  color: black;
  font-size: 17px;
  line-height: 24px;
}

.text-bussines-profile {
  margin-bottom: 10px;
  margin-top: -13px;
}

.bussines_profile .komente {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e5e5e5;
  text-align: left;
}

.contact-bussines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.left-info,
.right-info {
  display: flex;
  align-items: center;
}

.comment-form {
  text-align: left;
  margin-left: 25px;
  align-items: center;
  margin-top: 10px;
}

.bussines-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.textarea-bussines {
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.btn-bussines {
  padding: 5px 16px;
  gap: 8px;
  margin-top: 20px;
}

.komente {
  margin-top: 20px;
}

.comment-content {
  background-color: #f8f8f8;
  padding: 19px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.comment-meta {
  position: absolute;
  top: 12px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.comment-content span {
  margin-bottom: 5px;
}

.comment-content h4 {
  font-size: 18px;
  margin: 10px 0;
}

.comment-content span.comment-author {
  font-weight: bold;
}

.comment-text p {
  margin-left: 5px;
  margin-top: 5px;
}

.comment-respond {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.comment-form .logged-in-as {
  display: none;
}

#reply-title {
  margin-left: 25px;
}

#comment {
  border-radius: 10px;
  background-color: #e8e8e8;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form-submit #submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form-submit #submit:hover {
  background-color: #45a049;
}

.rating-forma {
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 40px !important;
}

.star-rating {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 30px;
  margin-bottom: 15px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
  justify-content: end;
}

.star-rate {
  display: flex;
  gap: 5px;
}

.star-clicked {
  color: gold;
}

.star {
  cursor: pointer;
}

.name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#komenti-id {
  font-size: 20px;
}

.star:hover {
  color: rgba(255, 217, 0, 0.49);
}

#user_rating_input {
  display: none;
}

#comment {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

#submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback {
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 10px;
}

#submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.feedback p {
  color: #222;
}

.comment-divider {
  height: 5px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 510px;
  width: 100%;
  margin-bottom: 60px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 510px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

.location-unknow {
  margin-top: 20px;
  font-size: 20px;
}

.feedback-section {
  margin-top: 20px;
}

.feedback {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 10px;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.feedback-name {
  font-weight: bold;
  margin-right: 10px;
}

.feedback-date {
  margin-top: -10px;
  font-size: 12px;
  color: #777 !important;
}

.rating-value {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.fa-solid.fa-star {
  font-size: 18px;
  margin-right: 2px;
}

.feedback-comment {
  font-weight: bold;
  margin-top: 10px;
}

.location-link {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery .container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto;
}

.gallery h1 {
  padding: 0 30px 30px 10px;
  color: #000;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 27px;
}

.gallery .gallerycarousel .gallerycarousel1 {
  margin: 0 10px;
}

.gallery .gallerycarousel .gallerycarousel1 img {
  width: 100%;
  height: 165px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery .gallerycarousel .gallerycarousel1 img:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
  border-radius: 8px;
}

.gallery .slick-prev,
.gallery .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  font-size: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery:hover .slick-prev,
.gallery:hover .slick-next {
  opacity: 1;
}

.gallery .slick-prev {
  left: -3%;
}

.gallery .slick-next {
  right: -3%;
}

.gallery .slick-prev:before,
.gallery .slick-next:before {
  content: "<";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
}

.gallery .slick-prev:before {
  content: "<";
}

.gallery .slick-next:before {
  content: ">";
}

/*Desktop L*/
@media (min-width: 1440px) {
  .gallery .container {
    max-width: 1200px;
    margin: 50px auto;
  }
  .gallery .gallerycarousel .gallerycarousel1 img {
    height: 250px;
    transition: transform 0.3s ease;
  }
  .gallery .gallerycarousel .gallerycarousel1 p {
    font-size: 18px;
  }
  .gallery .slick-prev,
  .gallery .slick-next {
    opacity: 1;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .gallery .container {
    max-width: 960px;
    margin: 50px auto;
  }
  .gallery .gallerycarousel .gallerycarousel1 img {
    height: 200px;
  }
  .gallery .slick-prev,
  .gallery .slick-next {
    opacity: 1;
  }
}
/* Tablet*/
@media (max-width: 768px) {
  .gallery .gallerycarousel .gallerycarousel1 img {
    height: 120px;
  }
  .gallery .slick-prev,
  .gallery .slick-next {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    background-color: transparent;
    color: transparent;
    font-size: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .gallery:hover .slick-prev,
  .gallery:hover .slick-next {
    opacity: 1;
  }
  .gallery .slick-prev {
    left: 40%;
  }
  .gallery .slick-next {
    right: 40%;
  }
}
/*Mobile*/
@media (max-width: 480px) {
  .gallery .gallerycarousel .gallerycarousel1 {
    margin: 0 5px;
  }
  .gallery .gallerycarousel .gallerycarousel1 img {
    height: 100px;
  }
  .gallery h1 {
    font-size: 24px;
    padding: 0 20px 20px 10px;
  }
  .gallery .slick-prev,
  .gallery .slick-next {
    position: absolute;
    top: 120%;
    transform: translateY(-50%);
    background-color: transparent;
    color: transparent;
    font-size: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .gallery:hover .slick-prev,
  .gallery:hover .slick-next {
    opacity: 1;
  }
  .gallery .slick-prev {
    left: 40%;
  }
  .gallery .slick-next {
    right: 40%;
  }
}
.relationship-section {
  background-color: #EFF6FF;
  height: 96px;
  align-items: center;
  margin: auto 0px;
  margin-top: 50px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.relationship-img img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.relationship-info {
  display: flex;
  width: 320px;
  align-items: center;
}

.relationship-info img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
}

.relationship-info h4 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  color: #0F172A;
}

.relation-par {
  width: 452px;
  background-color: #F8FAFC;
  border: 2px dashed #E23333;
  border-radius: 16px;
  height: 72px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.relationship-paragraf {
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #515151;
}

.relationship-btn {
  background: #54D577;
  border-radius: 16px;
  align-items: center;
  padding: 14px 20px;
  gap: 8px;
  border: none;
  font-weight: 600;
  height: 52px;
  width: 167px;
}

.relation-href {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0F172A;
}

.relationship-items {
  display: flex;
  background-color: #EFF6FF;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.content-module {
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.5px;
  font-size: 18px;
  padding: 10px 0px;
}

.content-module div {
  margin-bottom: 20px;
  font-size: 18px;
  margin-top: 13px;
  color: var(--kit-colors-slate-900, #0F172A);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.content-section {
  background-color: #F8FAFC;
}

@media (max-width: 960px) {
  .custom-column {
    width: 100%;
  }
}
.container-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.container-image .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
.container-image .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  /* position: absolute; */
  /* top: 40%; */
  /* left: 43%; */
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  align-items: center;
}

.title .p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 1.5px;
}

.all {
  display: flex;
  flex-direction: column;
  margin-top: -70px;
}

.input-container input[type=search] {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.input-container form,
.input-container input {
  margin-top: 10px;
  position: relative;
}

.form-control[type=search] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 700px;
}

.form-control input[type=search]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.icon-search {
  margin: 9px 0 0 -6px;
  padding: 12px;
  border-radius: 8px;
}

.icon-search:hover {
  cursor: pointer;
}

.input-container input[type=search] {
  float: left;
}

.location-dropdown {
  border-radius: 3px;
  border: 2px solid #ccc;
  margin: 0px 5px;
  padding: 10px;
}

/* Common styles for all screen sizes */
.fas.fa-thumbs-up,
.fas.fa-thumbs-down {
  font-size: 24px;
  margin-right: 12px;
}

.columns-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
}
.columns-section .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.columns-section .column p {
  padding-left: 20px;
  font-size: 16px;
  width: 95%;
}
.columns-section .cons .column, .columns-section .pros .column {
  width: 100%;
  height: 43px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.columns-section .cons .column:nth-child(odd), .columns-section .pros .column:nth-child(odd) {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.1) 5px, #FF0000 5px, #FF0000 95%, rgba(255, 0, 0, 0.1) 95%);
}
.columns-section .cons .column:nth-child(even), .columns-section .pros .column:nth-child(even) {
  background: linear-gradient(to right, rgba(0, 128, 0, 0.1) 5px, #008000 5px, #008000 95%, rgba(0, 128, 0, 0.1) 95%);
}
@media (min-width: 768px) {
  .columns-section {
    flex-direction: row;
  }
  .columns-section .cons .column, .columns-section .pros .column {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .columns-section .cons .column, .columns-section .pros .column {
    width: 500px;
  }
}
@media (max-width: 767px) {
  .columns-section .column p {
    padding-left: 10px;
  }
}

/* Common styles for all screen sizes */
body {
  background-color: #f9f7f3;
}

.title-quick {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.co {
  width: 100%;
  padding: 25px;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.para {
  letter-spacing: 1px;
  font-size: 19px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
  border-radius: 8px;
  color: var(--kit-colors-slate-900, #0F172A);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  word-spacing: 1px;
}

.quick-h1 {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  margin-top: 50px;
}

.link a {
  color: #2980b9;
  font-weight: bold;
  transition: color 0.2s;
  text-decoration: none;
  position: relative;
}
.link a:hover {
  color: #1b094d;
}
.link a:hover::after {
  transform: scaleX(1);
}
.link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #1c094c;
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: left;
}

.thumb-up {
  color: yellow;
  font-size: 24px;
}

@media (min-width: 1200px) {
  .quick-cont {
    justify-content: space-between;
  }
  .quick-section {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .co {
    padding: 25px;
  }
  .quick-h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .quick-cont {
    justify-content: space-between;
  }
  .quick-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .co {
    padding: 15px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .quick-h1 {
    font-size: 28px;
  }
  .quick-cont {
    flex-direction: column;
  }
  .quick-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .co {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
  }
}
.author {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAF5FF;
}

.about-author {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 150px;
  width: 900px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-author-avatar {
  padding-left: 15px;
  float: left;
  width: 10%;
}

.about-author-info {
  display: flex;
  text-align: center;
  padding-left: 15px;
  float: left;
  width: 30%;
}

.about-author-info .icons {
  justify-content: center;
  display: flex;
  margin-left: -70px;
  padding-bottom: 50px;
  margin-top: 10px;
}

.description {
  width: 60%;
  float: right;
}

.avatar {
  display: flex;
  border-radius: 50%;
}

.more-info {
  text-decoration: none;
  position: absolute;
  padding-top: 5px;
}

.nickname {
  display: flex;
  padding-left: 5px;
  padding-top: 30px;
}

.fab.fa-facebook {
  position: absolute;
  display: flex;
  padding-top: 70px;
}

.fab.fa-instagram {
  padding-top: 70px;
  padding-left: 22px;
}

.fab.fa-pinterest {
  padding-left: 2px;
  padding-top: 70px;
}

.contact-section {
  background-color: #fafafa;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-items {
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 0 auto;
  height: 530px;
  padding: 40px;
}

.contact-input {
  width: 60%;
  background-color: #fff;
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-h3 {
  margin-top: 45px;
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
  font-size: 1.75rem;
}

.contact-info {
  width: 40%;
  background-color: #1089ff;
  height: 600px;
  align-self: center;
  border-radius: 15px;
  margin-left: 20px;
}

.contact-formgrup {
  width: 90%;
  margin: 0 auto;
}

.contact-formgrup input {
  color: #000;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 10px;
}

.name-input {
  display: flex;
  justify-content: space-between;
}

.name-input input {
  width: 45%;
  margin-bottom: 1rem;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.input-subject input[type=text],
.input-subject textarea {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  padding: 0px 0px !important;
  border-radius: 10px;
}

.input-subject textarea {
  height: 175px;
  border-radius: 10px;
}

.contact-formgrup input::-moz-placeholder {
  padding-left: 10px;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 16px;
}

.contact-formgrup input::placeholder {
  padding-left: 10px;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 16px;
}

.contact-formgrup textarea::-moz-placeholder {
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 16px;
}

.contact-formgrup textarea::placeholder {
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 16px;
}

.contact-formgrup input[type=submit] {
  padding: 12px 35px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  margin-bottom: 20px;
  background: #1089ff !important;
  color: #fff;
}

.adres {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-content {
  width: 82%;
  margin: 0 auto;
  color: white;
}

.addres-font {
  width: 70px !important;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addres-fo {
  font-size: 20px;
}

.addres-text {
  width: 90%;
  margin-left: 10px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
}

.contact-content h3 {
  color: white;
  margin-top: 70px;
}

.popup {
  display: none;
  position: fixed;
  top: 13%;
  left: 44%;
  transform: translate(-50%, -50%);
  background-color: #1089ff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: serif;
  font-size: 25px;
  z-index: 9999;
  transition: all 0.3s;
}

.form-control1[type=search] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 700px;
}

.form-control1 input[type=search]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.icon-searchh1 {
  margin: 10px 0 0 -2px;
  padding: 12px;
  border-radius: 8px;
}

.icon-searchh1:hover {
  cursor: pointer;
}

.first {
  display: flex;
  flex-direction: row;
}

.image-search img {
  padding: 15px;
  width: 80px !important;
  height: 80px !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 45%;
}

.clearfix {
  background-color: #f1f1f1;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-radius: 8px;
}

.search2 input[type=search] {
  margin: 50px 0 20px 0;
}

.no-results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d7da;
  animation: fadeIn 0.5s ease-in-out, moveUpDown 2s infinite alternate;
}

.search10 {
  width: 89%;
  justify-content: center;
}

.no-results-message {
  font-size: 24px;
  font-weight: bold;
  color: #721c24;
  background-color: #f5c6cb;
  border: 1px solid #f1b0b7;
  border-radius: 5px;
  padding: 10px 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.location-dropdown {
  border-radius: 3px;
  border: 2px solid #ccc;
  margin: 0px 5px;
  padding: 10px;
}

.parallax-section {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}
.parallax-section .parallax-content {
  position: absolute;
  width: 90%;
  max-width: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.parallax-section .parallax-content h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.parallax-section .parallax-content p {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .parallax-section .parallax-content {
    max-width: 80%;
  }
  .parallax-section .parallax-content h2 {
    font-size: 32px;
  }
  .parallax-section .parallax-content p {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .parallax-section .parallax-content {
    max-width: 90%;
  }
  .parallax-section .parallax-content h2 {
    font-size: 28px;
  }
  .parallax-section .parallax-content p {
    font-size: 18px;
    padding: 10px;
  }
}

.testimonial-section {
  background-color: #F8FAFC;
  margin: 10px;
  padding: 0 10px;
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}
.testimonial-section .testimonial-wrapper {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: flex-start; /* Start from the left */
}
.testimonial-section .testimonial-wrapper .card {
  width: 180px; /* Set a fixed width */
  max-width: 20%; /* Display all three testimonials on smartphones */
  border-radius: 16px;
  background: #FFF;
  box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.testimonial-section .testimonial-wrapper .card .user-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-section .testimonial-wrapper .card .user-image img {
  border-radius: 30px;
  background: #D9D9D9;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial-section .testimonial-wrapper .card .user-content {
  margin-top: 10px;
}
.testimonial-section .testimonial-wrapper .card .user-content h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.testimonial-section .testimonial-wrapper .card .user-content span {
  font-size: 10px;
  color: #999;
}
.testimonial-section .testimonial-wrapper .card .user-content p {
  font-size: 14px;
  line-height: 1.4;
  padding: 5px;
}
.testimonial-section .h1-testimonials {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 768px) {
  .testimonial-section .testimonial-wrapper .card {
    max-width: 50%; /* Display all three testimonials on smartphones */
  }
}

.banner-items {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.banner-section {
  background-color: #EFF6FF;
  height: auto;
}

.banner-content {
  width: 70%;
}

.banner-foto {
  width: 30%;
}

.banner-foto img {
  width: 340px;
  height: 315px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #D9D9D9;
}

.description-banner {
  color: var(--kit-colors-slate-900, #0F172A);
  /* Paragraph/Regular/LP */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  width: 97%;
}

.title-banner h1 {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 54px;
}

.banner-writen {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  position: absolute;
  top: 320px;
  right: 0;
}

.load-more {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 40px;
}
.load-more .loadmore {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.load-more .loadmore:hover {
  background-color: #c82333;
}

.post {
  height: 90px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line */
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f6f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.post .toplist_thumbnail {
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}
.post .toplist_thumbnail:hover {
  transform: scale(1.1);
}
.post-content {
  flex-grow: 1;
}
.post-content h1 {
  margin-bottom: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  transition: color 0.3s ease-in-out;
}
.post-content h1:hover {
  color: #ff6f61;
}
.post-content .textare {
  height: 80px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  border-radius: 13px;
  width: 240px;
  word-wrap: break-word;
  margin-left: 40px;
  margin-bottom: 10px;
  margin: 0;
  color: #2b2323;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f8f8f8; /* Adjust the background color for a user-friendly feel */
  border: 1px solid #ccc; /* Add a subtle border */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  letter-spacing: 1.5px;
}
.post-content .textare:before {
  content: "";
  display: block;
  height: 8px;
  margin: 8px auto;
  background-image: linear-gradient(to right, #f8f8f8, #ccc); /* Adjust the gradient colors */
}
.post-content .textare:after {
  content: "";
  display: block;
  height: 8px;
  margin: 8px auto;
  background-image: linear-gradient(to left, #f8f8f8, #ccc); /* Adjust the gradient colors */
}
@media (max-width: 768px) {
  .post .blog-posts {
    flex-direction: column;
  }
  .post .post {
    width: 100%;
  }
}

a.permalink-bus {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
a.permalink-bus:hover {
  background-color: #549a56;
}

.textare {
  height: 80px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  border-radius: 13px;
  width: 550px;
  word-wrap: break-word;
  margin-left: 40px;
  margin-bottom: 10px;
  margin: 0;
  color: #2b2323;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f8f8f8; /* Adjust the background color for a user-friendly feel */
  border: 1px solid #ccc; /* Add a subtle border */
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  letter-spacing: 1.5px;
}

.new-custom-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.new-custom-card-page,
.new-custom-card-business,
.new-custom-card-service {
  flex: 1 0 220px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px;
}

.new-custom-card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  height: 200px;
}

.new-custom-title {
  display: inline-block;
  padding: 0 10px;
  color: #000;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 27px;
}

.new-custom-btn {
  width: 100%;
  padding: 10px 16px;
  border-radius: 16px;
  background: #54d577;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.new-custom-link {
  text-decoration: none;
  color: #0f172a;
}

/* Stilizimi i butonave të karuselit */
.new-custom-cards-container .slick-prev,
.new-custom-cards-container .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  font-size: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.new-custom-cards-container:hover .slick-prev,
.new-custom-cards-container:hover .slick-next {
  opacity: 1;
}

.new-custom-cards-container .slick-prev {
  left: -3%;
}

.new-custom-cards-container .slick-next {
  right: -3%;
}

.new-custom-cards-container .slick-prev:before,
.new-custom-cards-container .slick-next:before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
}

.new-custom-cards-container .slick-prev:before {
  content: "<";
}

.new-custom-cards-container .slick-next:before {
  content: ">";
}

html,
body {
  margin: 0;
  background-color: white;
  color: #333;
  padding: 0;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */